---
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-vararg,
  llvm-*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  performance-*,
  readability-*,
  -readability-function-cognitive-complexity,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-identifier-length
CheckOptions:
  # 设置变量名为 lower_case 格式
  - key: readability-identifier-naming.VariableCase
    value: lower_case

  # 设置函数名为 lower_case 格式
  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  # 设置类名为 CamelCase 格式
  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  # 设置常量名为 UPPER_CASE 格式
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE

  # 忽略常见的短变量名
  - key: readability-identifier-length.IgnoredVariableNames
    value: '^(i|j|k|t|x|y|z|m|n|_)$'

  # 忽略常见的短参数名
  - key: readability-identifier-length.IgnoredParameterNames
    value: '^(i|j|k|t|x|y|z|m|n|_)$'

WarningsAsErrors: ""
HeaderFilterRegex: ""
UseColor: true
FormatStyle: none
User: user
